
# macOS files
.DS_Store

# large datasets
*.h5

# graph-tool graphs
*.gt

# virtual environment
/myenv/

# Ignore Python cache files
__pycache__/
*.pyc

#all files related to graph-tool performance testing except Python scripts
# and except from /results directory

/gt_performance_test/*
!gt_performance_test/*.py
!gt_performance_test/*.ipynb
!gt_performance_test/results
